*,*::after,*::before{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none;
}

.container {
    width: 1296px;
    margin: 0 auto;
}
nav{
    background-color: #000;
    color:#D1D1D1;
}
nav a{
    color:#D1D1D1;
}
nav ul{
    display: flex;
    padding-top: 40px;
}
nav ul li{
    justify-content: space-between;
    width: 306px;
}
.nav-item{
    text-align: right;
}